header {
    max-width: 100%;
    height: auto;
    background: #f8f9fa;
    padding-top: 50px;

    .front {
        width: 100%;
        height: 550px;
    
        .image {
            position: absolute;
            width: 100%;
            height: 550px;
        }

        .overlay {
            position: absolute;
            height: 550px;
            width: 100%;
            background: black;
            opacity: 0.3;
        }

        .sign-up {
            position: absolute;
            z-index: 3;
            display: flex;
            color: rgb(255, 255, 255);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 200px 0; 

                h1 {
                font-size: 45px;
                text-align: center;
                width: 57%;
                }


            .email {
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;

                input {
                border: none;
                width: 70%;
                height: 35px;
                border-radius: 4px;
                margin: 20px;
                padding: 0 20px;
                }

                button {
                    text-decoration: none;
                    background: #007bff;
                    color: white;
                    border: none;
                    padding: 9px 22px; 
                    border-radius: 4px;
                    transition: 0.3s;

                    &:hover {
                    background: #f8f9fa;
                    color: #007bff;
                    }

                }

            }

        }
    }
}

  .icons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      padding: 150px 0;

      i {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          text-align: center;
          color: #027cff;
          font-size: 70px;
          width: 250px;
          margin: 0 30px;
          h2 {
              font-size: 30px;
              color: #212529;
              margin: 20px 0;
          }

          p {
              font-size: 20px;
              color: #929ab0;
              line-height: 25px;
              margin-bottom: 40px;
              font-weight: 400;
            }
      }
  }