@media (max-width: 680px) {
  header {
    .front {
      .sign-up {
        h1 {
          font-size: 30px;
        }
        .email {
          flex-wrap: wrap;
          width: 100%;

          input {
            width: 75%;
          }
        }
      }
    }
  }

  footer {
    .about {
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width:585px) {
  main {
    div {
      .content {
        width: 100%;
        order: 2;
        margin-bottom: 30px;
      }
      img {
        width: 100%;
        order: 1;
      }
    }
  }
  
  footer {
    flex-direction: column;
    padding: 20px 0 ;

    .about {
      ul {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }

      p {
        text-align: center;
      }
    }
  }
}

@media (max-width: 380px) {
  header {
    .front {
      .sign-up {
        margin: 100px 0;

        .email {
          width: 100%;
          button {
            width: 315px;
          }
        }
      }
    }
  }

  .register {
    .sign-up {
      width: 100%;
      margin: 60px 0;
      .email {
        width: 100%;
        input {
          width: 100%;
        }

        button {
          width: 315px;
        }
      }
    }
  }
}