nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f8f9fa;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 4;

  .navbar {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  button {
    text-decoration: none;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; 
    border-radius: 4px;
    transition: 0.3s;

    &:hover {
      background: #f8f9fa;
      color: #007bff;
      border: 2px solid #007bff;
    }
  }

}
